/*=========================================================*/
/*Universal Styling*/

/*Everything will inherit the box-sizing property from html*/
*, *::before, *::after {box-sizing:inherit}

html {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: rgb(184, 185, 189);
    background-color: rgb(35, 34, 38);
}

body{
    margin:0;
    padding:0;
}

section{
    padding: 0 3rem;
    margin-top: 4rem;
}

p{
    line-height: 2rem;
    font-size: 1.15rem;
    font-weight: bold;
}

.turquoise{
    color:rgb(8, 185, 185);
}


/*=========================================================*/

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    background-color: rgb(184, 185, 189);
    width: 80%;
    margin-left: 10%;
    border-radius: 0 0 15% 15%;
}

header div .company-logo{
    display:block;
    width: 5rem;
    max-height: 4rem;
    margin-left: 2rem;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 4rem;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}

header nav li{
    list-style-type: none;
    padding-left: 1rem;
}

header nav li a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 200;
    color: rgb(35, 34, 38);
}

/*=========================================================*/

/*Banner*/

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;

}


/*=========================================================*/

/*About Me*/

/*This section is fully defined using global styling. Check out the section selector*/