/*=========================================================*/
/*Universal Styling*/

/*Everything will inherit the box-sizing property from html*/
*, *::before, *::after {box-sizing:inherit}

html {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: rgb(206, 207, 211);
    background-color: rgb(55, 54, 57);
}

body{
    margin:0;
    padding:0;
}

main{
    position: relative;
    top:5rem;
}

section{
    padding: 0 3rem;
    margin-top: 4rem;
}

p{
    padding-left: 2rem;
    line-height: 2rem;
    font-size: 1.15rem;
    text-align: justify;
}

ul{
    font-size: 1.15rem;
    line-height: 2.2rem;
}

.turquoise{
    color:rgb(8, 185, 185);
}

h1{
    font-size: 2.7rem;
    font-weight: bold;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

.indent4{
    padding-left: 4rem;
}

.indent2{
    padding-left: 2rem;
}

.underline{
    text-decoration: underline;
}

/*=========================================================*/

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    background-color: rgb(184, 185, 189);
    width: 80%;
    margin-left: 10%;
    border: solid 5px rgb(8, 185, 185);
    border-radius: 0 0 15% 15%;
    opacity: 0.7;
    position: fixed;
    z-index: 1;
    top: 0;
}

header div .company-logo{
    display:block;
    width: 5rem;
    max-height: 4rem;
    margin-left: 2rem;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 4rem;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}

header nav li{
    list-style-type: none;
    padding-left: 1rem;
}

header nav li a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 200;
    color: black;
}

/*=========================================================*/

/*Banner*/

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

/*=========================================================*/

/*About Me*/

/*This section is fully defined using global styling. Check out the section selector*/

.education{
    padding-left: 2rem;
}

/*=========================================================*/

/*Skills*/

#skills-container{
    display: flex;
    justify-content: center;
}

.brands{
    font-size: 3rem;
    padding-left: 2rem;
}

/*=========================================================*/

/*Contact*/

#contact{
    padding-bottom: 2rem;
}

.information-container{
    display: flex;
    justify-content: center;
}

.information-container .contact-element{
    margin-right: 5rem;
    text-align: center;
}

/*==========================================================*/
/*Footer*/

footer {
    padding: 1.5rem 2rem;
    height: 3rem; /*64px*/
    background-color: rgb(184, 185, 189);
    color: black;
    border-top: solid 5px rgb(8, 185, 185);
  }
  
  .footer-content {
    display: flex;
    /**/
    justify-content: space-around;
    /**/
    font-size: 1rem;
  }
  
  footer .copyright {
    flex-grow: 1;
  }